<header id="header-p-beta2">
    <div class="header">
        <div class="warp"></div>
        <div class="logo">
            <a href=""><img alt="职询logo" class="pngfix" src="/assets/images/logo.png"
                            width="110" height="40"/></a>
        </div>
        <nav>
            <ul>
                <li data-name="home"><a href="http://127.0.0.1:8080/#/test">首页</a></li>
                <li data-name="job"><a href="">职询</a></li>
                <li data-name="article"><a href="">知寻</a></li>
                <li data-name="article"><a href="">资循</a></li>
            </ul>
        </nav>
        <div class="warp2"></div>
        <nav>
            <ul class="ul">
                <li data-name="home"><a href="" class="login">登录</a></li>
                <li class="split"></li>
                <li data-name="job"><a href="" class="register">注册</a></li>
            </ul>
        </nav>
    </div>
</header>
